@import url(https://fonts.googleapis.com/css?family=Signika);


:root
{
    --font-family-sans-serif: "Signika", sans-serif;
}

html
{
    font-family: Signika;
}

body
{
    font-family: "Signika", sans-serif;
}

.pagination {
    display: -webkit-box;
    display: flex;
    padding-left: 0;
    list-style: none;
    width: fit-content;
    margin: auto;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #626262;
    background-color: #fff;
}

.page-link:hover {
    z-index: 2;
    color: #e13013;
    text-decoration: none;
}

.pagination > .page-item
{
    margin: 0 2px;
    font-family: Signika;
    font-size: 1.2rem;
    font-weight: 700;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #e13013;
    border-radius: 50%;
}

.tooltip
{
    font-family: Signika, sans-serif;
}

.popover
{
    font-family: Signika, sans-serif;
}

