.highlight {
    border-style: solid;
    border-width: 2px;
    border-color: #3490dc;
}

#back-to-search {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
}

.search-form input{
    width: 100%;

    height: 60px;
    margin-bottom: 20px;

    border-radius: 3px;
    border-spacing: 20px;
    padding: 20px;
    border-color: #dce4ec;
    box-shadow: disabled;
    border-style:solid;
    outline: none;

    text-align: left;
    font-size: 20px;
}

.search-form input {
    text-align: left;
}

.search-form input:focus{
    border-color: black;
}

.tt-query,
.tt-menu,
.tt-hint {

    width: 100%;

    border-width: 2px;
    border-radius: 3px;
    border-spacing: 20px;
    padding:10px 0px;
    border-color: black;
    box-shadow: disabled;
    border-style:solid;

    text-align: left;
    font-size: 24px;
    position: relative;
    color: grey;
}

.tt-menu {
    margin-top: -20px;
    border-width: 1px;
    border-color: grey;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;

    background: white;
    color: black;
}

.tt-cursor,
.tt-suggestion:hover {
    background: #f7f7f7;
}

.tt-menu {
    background: white;
}
