body, html {
    height: 100%;
}

body {
    background-image: url('https://pbs.twimg.com/media/DqgiilIWsAEDG5N.jpg');
    background-size: cover;
    background-position: 0% 70%;
    background-repeat: no-repeat;
}
div.backdrop {
    background: rgba(26, 26, 26, 0.8);
}
.h-100{
    margin-top: 60px;
}
